.drupal-markdown-post {
  .title {
    margin-top: 0;
    //font-size: 3rem;
    font-family: 'Work Sans', sans-serif;
    color: #041e42;
  }
  h1,h2,h3,h4,h5,h6 {
    color: #041e42;
    font-family: 'Work Sans', sans-serif;
  }
  a {
    color: #10316b;
  }
}